<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MainSuite">
    <listeners>
        <listener class-name="test.java.Utils.Listener"/>
    </listeners>
    <test name="Test">
        <classes>
            <class name="test.java.Test.MainTest">
                <methods>
                    <include name="checkHomePageTitle"/>
                    <include name="checkSearchPageTitle"/>
                    <include name="checkWikiPageTitle"/>
                    <exclude name="checkWikiPageHeading"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>